@font-face {
  font-family: "iconfont"; /* Project id 5115188 */
  src: url('iconfont.woff2?t=1769151435271') format('woff2'),
       url('iconfont.woff?t=1769151435271') format('woff'),
       url('iconfont.ttf?t=1769151435271') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e628";
}

.icon-dianhua:before {
  content: "\e8c3";
}

