@font-face {
  font-family: "iconfont"; /* Project id 5115188 */
  src: url('iconfont.woff2?t=1769671010160') format('woff2'),
       url('iconfont.woff?t=1769671010160') format('woff'),
       url('iconfont.ttf?t=1769671010160') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dc-b-warranty:before {
  content: "\e6c9";
}

.icon-dc-b-warranty-expired:before {
  content: "\e6ca";
}

.icon-shuiyuandi:before {
  content: "\e623";
}

.icon-fanghuguolv:before {
  content: "\e622";
}

.icon-fanggua:before {
  content: "\e603";
}

.icon-fangshuifangchen:before {
  content: "\e6f4";
}

.icon-sousuo:before {
  content: "\e628";
}

.icon-dianhua:before {
  content: "\e8c3";
}

