// src/assets/styles/element/_override.scss

@use './variables' as *;

// ⭐ 唯一一次 with
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $colors,
//   $border-radius: $border-radius
);
