// 覆盖 Element Plus 的默认变量

$colors: (
  'primary': (
    'base': #f97316,
  )
  // 'success': (
  //   'base': #16a34a,
  // ),
  // 'warning': (
  //   'base': #f59e0b,
  // ),
  // 'danger': (
  //   'base': #ef4444,
  // ),
);

// $border-radius: (
//   'base': 10px,
//   'small': 6px,
// );

