@import 'tailwindcss';
@import 'tw-animate-css';
@import './iconfont/iconfont.css';

/* 定义主题 */
@theme {
  --color-theme: #414449;
}

@plugin "daisyui" {
   themes: ["light"];
  darkTheme: false;
}

/* 自定义工具类 */
@layer utilities {
  .card-base {
    @apply p-3 my-4 mx-3 md:mx-0 rounded-xl border border-gray-200
           shadow-sm hover:shadow-lg transition-shadow;
  }
}

.banner_title {
  position: absolute;
  width: 80%;
  top: 20%;
  left: 10%;
  font-weight: 600;
  text-align: center;
}


