@import 'tailwindcss';
@import 'tw-animate-css';
@import './iconfont/iconfont.css';
@plugin "daisyui";

/* 定义主题 */
@theme {
  --color-theme: #414449;
}

/* 自定义工具类 */
@layer utilities {
  /* 卡片样式 */
  .card-base {
    @apply p-3 my-4 mx-3 md:mx-0 rounded-xl shadow-lg border border-gray-200;
  }
}

.banner_title {
  position: absolute;
  width: 80%;
  top: 20%;
  left: 10%;
  font-weight: 600;
  text-align: center;
}
