@import 'tailwindcss';
@import 'tw-animate-css';
@import './iconfont/iconfont.css';
@plugin "daisyui";

/* 定义主题 */
@theme {
  --color-theme: #414449;
}

.banner_title {
  position: absolute;
  width: 80%;
  top: 20%;
  left: 10%;
  font-weight: 600;
  text-align: center;
}
